<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  
</style>

<!-- Toolbar -->
<div class="toolbar" role="banner" style="background-color: #2E76B7;">
  <img
    width="40"
    alt="Angular Logo"
    src="https://images.vexels.com/media/users/3/137704/isolated/preview/87530af576941eeea98d685ae40c4d66-logotipo-de-formas-poligonales-geom-tricas.png"
  />
  <span>Welcome2</span>
    <div class="spacer"></div>
    
    <button [routerLink] = "['home']" class="button-71" id="1">HOME</button>
    <button [routerLink] = "['products']" class="button-71" id="2">PRODUCTS</button>
    <button [routerLink] = "['form']" class="button-71" id="3">FORM</button>
    <button [routerLink] = "['clientes']" class="button-71" id="4">CLIENTES</button>


</div>



<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- <app-home></app-home> -->
<app-footer></app-footer>
<router-outlet></router-outlet>
