<br><br><br><br>

<!-- <div *ngFor="let cliente of clientes">
    <p>{{cliente.firstname2}}</p>
    <p>{{cliente.secondname2}}</p>
    <p>{{cliente.thirdname2}}</p>
    <p>{{cliente.phone2}}</p>
    <p>{{cliente.birthdate2}}</p>
    <p>{{cliente.email2}}</p>
    <p>{{cliente.password2}}</p>

</div> -->
<table >
    <section >
        <div class="content">
          <h2>Form </h2>
          <h2>Form </h2>
          
        </div>
      </section>
      <section style="margin-left: 100%;">
        <div class="content">
          <h2>Info </h2>
          <h2>Info </h2>
        </div>
      </section><br><br><br><br>
    <tr>
      <th>Firstname</th>
      <th>SecondName</th>
      <th>Thirdname</th>
      <th>Phone</th>
      <th>Date</th>
      <th>Email</th>
      <th>Password</th>

    </tr>
    <tbody *ngFor="let cliente of clientes">
    <tr>
      <td>{{cliente.firstname2}}</td>
      <td>{{cliente.secondname2}}</td>
      <td>{{cliente.thirdname2}}</td>
      <td>{{cliente.phone2}}</td>
      <td>{{cliente.birthdate2}}</td>
      <td>{{cliente.email2}}</td>
      <td>{{cliente.password2}}</td>



    </tr>
    </tbody>
    </table>
