<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
    
<body>
    <div class="container">        

        <h1 contenteditable>Form</h1>
        <p>In this form you can write your name, surname, email, telephone number and many more data that you can see by
            clicking on the button above that says form and there you can perform the login method</p><br>
        <p>Login allows users to personalize their experience on a website or application. Users can save their browsing
            history, adjust account preferences, and customize the user interface according to their needs. For example,
            if a user is logged into an online store, they can customize their account to receive personalized
            recommendations based on their purchase history.</p><br><br>
        <!-- <p>Click here if you want to go to the     
            <button [routerLink] = "['form']" class="button-71" id="3">FORM</button> -->


    </div>
    <!-- <article class="articulo1">

    </article> -->

</body>

</html>